@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

*{
    padding:0;
    border:0;
    margin:0;
}

body{
    font-family: merriweather;
    font-weight:300;

}

#logo{
    float:left;
    font-size: 200%;
    margin-left: 30px;
    color: #347c68;
    padding:20px;
    height:50px;
    

   
 
}

/* navigation links */
#menu {
    font-size: 120%;
    letter-spacing: 4px;
    
 
  
}
    

#menu li {
    list-style:none;
    float:right;
    margin-right: 30px;
    
}

#menu a {
    color: #347c68;
    text-decoration: none;
}

#menu, logo{
line-height: 75px;
}
/* hero image */

#hero-outer{
    height:600px;
    width:100%;
    overflow: hidden;
    position: relative;
    

}


#hero-image {
    background: url('../images/hero-image-5.jpg');
    height: 600px;
    width:100%;
   
    
}

#welcome {
 
    bottom:50%;
    right:50%;
    position:absolute;
    text-align: center;
    background-color:rgba(240,180,150,0.8);
    padding:20px;
    color:white;
    
  
}


#about {
    width:60%;
    border: 1px solid;
    padding:20px;
    Margin: 0 auto;
    box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:50px;
 
   
}

h2{
    font-family:karla sans-serif;
   text-align: center;


/* Style photos */

}
#photos img {
    width:20%;
    
}

#photos {
  line-height: 0;
  display: flex;
  column-gap: 0;
}

#facilities {
    width:60%;
    border: 1px solid;
    padding:20px;
    Margin: 0 auto;
    box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:50px;
}


/* footer */
footer{
    height:150px;
    
}

.social-media {
    text-align: center;
}

.social-media li{
    display: inline;
}
.social-media i {
    font-size: 225%;
    color:#347c68;
    padding: 2%;
    
}